<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="width: 100px; height: 100px;">
        <img src="/images/uploads/<%= user.profilepic %>" style="height: 100%; width: 100%;"/>
    </div>
    <h3><%= user.name %></h3>
    <h3><%= user.age %></h3>
    <h3><%= user.username %></h3>
    <h3><%= user.email %></h3>
    <form action="/posts" method="post">
        <textarea name="content">

        </textarea>
        <input type="submit" value="Create Post"/>
    </form>
    <div class="container">
        <% user.post.reverse().forEach(function(p) { %>
            <h5><%= user.username%></h5>
            <h2><%=  p.content%></h2>
            <p><%= p.likes.length %> Likes</p>
            <a href="/like/<%=p._id %>">
                
                <%= p.likes.includes(user._id) ? "Unlike" : "Like" %>

            </a>
            <a href="/edit/<%=p._id %>">Edit</a>
            
       <% }) %>
    </div>
</body>
</html>